<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>3.0</key>
	<array>
		<dict>
			<key>title</key>
			<string>Unplayed Episodes</string>
			<key>detail</key>
			<string>Quickly find episodes you haven’t played yet.</string>
			<key>icon</key>
			<string>Podcast</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Browse the Feed</string>
			<key>detail</key>
			<string>Stream available episodes or download them to play later.</string>
			<key>icon</key>
			<string>Feed</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Saved Episodes</string>
			<key>detail</key>
			<string>Save your favorite episodes to ensure you’ll always have them.</string>
			<key>icon</key>
			<string>Saved</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Delete Played Episodes</string>
			<key>detail</key>
			<string>Episodes can be automatically deleted after they are played.</string>
			<key>icon</key>
			<string>Delete</string>
		</dict>
	</array>
	<key>2.0</key>
	<array>
		<dict>
			<key>title</key>
			<string>Designed for iOS 7</string>
			<key>detail</key>
			<string>Podcasts has a beautiful new look and feel designed for iOS 7.</string>
			<key>icon</key>
			<string>iOS 7</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Stay up to date</string>
			<key>detail</key>
			<string>Podcasts now automatically updates with new episodes.</string>
			<key>icon</key>
			<string>Up To Date</string>
		</dict>
	</array>
	<key>1.2</key>
	<array>
		<dict>
			<key>title</key>
			<string>Custom Stations</string>
			<key>detail</key>
			<string>Create custom stations of your favorite podcasts.</string>
			<key>icon</key>
			<string>Stations</string>
		</dict>
	</array>
	<key>1.1</key>
	<array>
		<dict>
			<key>title</key>
			<string>Pull to Refresh</string>
			<key>detail</key>
			<string>More easily refresh a subscription or playlist.</string>
			<key>icon</key>
			<string>Pull to Refresh</string>
		</dict>
	</array>
</dict>
</plist>
