<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>2.0</key>
	<array>
		<dict>
			<key>title</key>
			<string>Powerful Stories</string>
			<key>detail</key>
			<string>Discover free audio stories that entertain, inform, and inspire.</string>
			<key>icon</key>
			<string>Feature_Podcast</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Something for Everyone</string>
			<key>detail</key>
			<string>Explore shows you’ll love, from entertainment and comedy to news and sports.</string>
			<key>icon</key>
			<string>Feature_Catalog</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Listen Anytime, Anyplace</string>
			<key>detail</key>
			<string>Listen now, download for later, and subscribe to get every new episode.</string>
			<key>icon</key>
			<string>Feature_Playback</string>
		</dict>
	</array>
</dict>
</plist>
